<!DOCTYPE html>
<html lang="fr">
<%- include('head') %>
<body>
    <header id="#header" class="w-full relative">
        <nav id="navbarContainer" class="fixed top-0 inset-0 z-50 backdrop-blur bg-white h-16 lg:h-20 flex flex-col lg:flex-row px-5 lg:px-10 py-3 justify-between">
            <div class="h-10 lg:h-16 lg:py-2 items-center flex">
                <img src="/images/IEG-logo.webp" alt="Loge de l'entreprise Impact Eco Group" class="logo_nav h-full w-auto object-contain">
            </div>
            <div class="flex mt-5 lg:items-center" id="two-part">
                <ul class="lg:hidden">
                    <button id="fa_bars_menu" onclick="navbarShowH('open');" class="text-3xl absolute top-3 right-3 lg:hidden"><li><i class="fa-solid fa-bars"></i></li></button>
                    <button id="fa_xmark_menu" onclick="navbarShowH('close');" class="text-3xl hidden lg:hidden"><li><i class="fa-solid fa-xmark"></i></li></button>
                </ul>
                <ul id="navbar_part2" class="hidden lg:flex flex-col lg:flex-row lg:items-center relative">
                    <li class="text_navbar_annim mx-3 my-2 lg:my-0 text-lg dm_sans font-medium relative cursor-pointer"><a href="/">Accueil</a></li>
                    <!-- <li class="text_navbar_annim mx-3 my-2 lg:my-0 text-lg dm_sans font-medium relative cursor-pointer"><a href="#about">A Propos</a></li> -->
                    <li class="text_navbar_annim mx-3 my-2 lg:my-0 text-lg dm_sans font-medium relative cursor-pointer"><a href="#our_service">Nos services</a></li>
                    <li class="text_navbar_annim mx-3 my-2 lg:my-0 text-lg dm_sans font-medium relative cursor-pointer"><a href="#projects">Nos Projets</a></li>
                    <li class="text_navbar_annim mx-3 my-2 lg:my-0 text-lg dm_sans font-medium relative cursor-pointer"><a href="#teamManagement">Gestion de l'Equipe</a></li>

                    <div id="showParameters" class="w-14 h-14 rounded-full items-center justify-center flex text-center text-white cursor-pointer">
                        <span class="text-md text-3xl text-black"><i class="fa-solid fa-circle-user"></i></span>
                    </div>
                </ul>
            </div>
        </nav>
        <div id="parameter" class="w-40 h-fit bg-gray-200  hidden flex-col fixed right-6 top-20 z-40">
            <button type="button" class="w-full p-2 m-2 text-black font-bold bg-white rounded-lg cursor-pointer">Paramètres</button>
            <button id="signout" type="button" class="w-full p-2 m-2 text-white font-bold bg-red-500 rounded-lg cursor-pointer">Se déconnecter</button>
        </div>
    </header>

    <main class="relative w-full px-5 md:p-10 lg:p-20 dm_sans">
        <section id="our_service" class="w-full items-center justify-center flex relative">
            <%- include('our_service') %>
            <div id="modals_addService" class="w-full h-screen z-40 backdrop-blur fixed inset-0 justify-center items-center content-center hidden">
                <%- include('addService') %>
                <%- include('modifyServices') %>
            </div>
        </section>
        <section id="teamManagement" class="w-full items-center justify-center flex relative">
            <%- include('meet_the_team') %>
            <div id="modals_addMember" class="w-full h-screen z-40 backdrop-blur fixed inset-0 justify-center items-center content-center hidden">
                <%- include('addToTeam') %>
                <%- include('modifyTeam') %>
            </div>
        </section>
        <section id="projects" class="w-full items-center justify-center flex relative">
            <%- include('project') %>
            <div id="modals_addProject" class="w-full h-screen z-40 backdrop-blur fixed inset-0 justify-center items-center content-center hidden">
                <%- include('addProject') %>
                <%- include('modifyProject') %>
            </div>
        </section>
    </main>

    <footer class="bg-black w-full opacity-80">
        <%- include('footer') %>
    </footer>
</body>
</html>