<div class="w-11/12 my-12 ">
    <h2 class="color_blue_foncé text-xl font-medium">RENCONTRER L'EQUIPE</h2>
    <h3 class="text-black font-bold text-xl lg:text-2xl mt-2">
        Découvrez l'équipe passioné qui concrétise notre mission
    </h3>
    <% if(admin) { %>
        <div class="w-full my-3">
            <button type="button" id="add_mission" onclick="openAddToTeam();" class="color_blue_foncé border_blue_foncé border-2 border-solid relative text-lg mx-3 my-2 lg:my-0 dm_sans py-2 px-3 rounded-lg font-medium cursor-pointer">Ajouter un membre</button>
        </div>  
    <% } %>
    <div class="w-full my-5 lg:my-10 relative flex flex-row items-center justify-center">
        <div class="w-24 h-24 mx-4 rounded-full border-6 border-solid border-blue-900 items-center justify-center text-center flex flex-col relative">
            <p class="text-xl font-bold">65%</p>
            <span class="text-xs relative text-center">Moins de 40 ans</span>
        </div>

        <div class="w-24 h-24 mx-4 rounded-full border-6 border-solid border-yellow-500 items-center justify-center text-center flex flex-col relative">
            <p class="text-xl font-bold">45%</p>
            <span class="text-xs relative text-center">Femmes</span>
        </div>

        <div class="w-24 h-24 mx-4 rounded-full border-6 border-solid btn_border_bg_color items-center justify-center text-center flex flex-col relative">
            <p class="text-xl font-bold">93%</p>
            <span class="text-xs relative text-center">Avec formation supérieure</span>
        </div>
    </div>

    <% if(members.length > 0) { %>
        <div class="w-full h-96 my-10 flex flex-wrap items-center justify-center overflow-y-scroll">
            <% members.forEach((mbr) => { %>

                <div class="w-full md:w-44 h-auto m-2 border-2 border-solid border-gray-200 shadow-lg relative">
                    <% if(admin) { %>
                        <ul class="containerSubAction h-12 w-8 backdrop-blur bg-transparent text-center justify-center items-center absolute top-0 right-0 z-40">
                            <li id="" class="modifyTeam text-black cursor-pointer"><i class="fa-solid fa-pen-to-square"></i></li>
                            <li id="" class="deleteTeam text-red-500 cursor-pointer"><i class="fa-solid fa-trash"></i></li>
                            <li id="" class="Team_id hidden"><%= mbr.equipe_id %></li>
                            <li id="" class="Team_last_name hidden"><%= mbr.last_name %></li>
                            <li id="" class="Team_first_name hidden"><%= mbr.first_name %></li>
                            <li id="" class="Team_image hidden"><%= mbr.image %></li>
                        </ul>
                    <% } %>
                    <div>
                        <img src="/images/<%=mbr.image%>" loading="lazy" class="w-auto h-full" alt="<%= mbr.first_name %>">
                    </div>
                    <div class="items-center justify-center flex text-center">
                        <h5 class="font-bold text-center"><span><%= mbr.last_name %></span> <%= mbr.first_name %></h5>
                        <p></p>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <p class="text-red-500 text-lg">Aucun membre pour le moment</p>
    <% } %>
</div>